.more-about-me-section{
    padding-top:0;
    .more-about-me-tab{
        .more-about-tabs-menu{
            flex: 0 0 20%;
            max-width: 20%;
            padding: 20px;
            .vertical-tab-menus{
                color: #000000;
                font-size: 15px;
                font-weight: 800;
                text-transform: capitalize;
                align-items: flex-start;
                transition: .3s all ease;
                &.Mui-selected{
                    color: $theme_blue;
                    color: $theme_blue_sub_title;
                    padding-left: 38px;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 18px;
                        height: 2px !important;
                        top: 24px !important;
                        left: 16px;
                        background-color: $theme_blue_sub_title;
                    }
                }
                .MuiTouchRipple-root{
                    display: none;
                }
            }
            .MuiTabs-indicator{
                display: none;
            }
        }
        .more-about-tabs-panel{
            flex: 0 0 80%;
            max-width: 80%;
            .tab-content-wrapper{
                .tab-title{
                    color: $theme_blue_icon;
                    font-size: 32px;
                    font-weight: 800;
                    letter-spacing: 1.6px;
                    margin-bottom: 25px;
                }
                .tab-content{
                    display: flex;
                    margin-bottom: 30px;
                    border-bottom: 1px solid $theme_blue_sub_title_lightest;
                    .tab-content-icon-holder{
                        background: $theme_blue_sub_title_lightest;
                        flex: 0 0 60px;
                        max-width: 60px;
                        text-align: center;
                        border-radius: 50%;
                        max-height: 60px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        i{
                            font-size: 34px;
                            color: $theme_blue_icon;
                        }
                    }
                    .tab-content-des{
                        padding-right:20px;
                        padding-left: 20px;
                        .year{
                            color : $theme_blue_icon;
                            font-weight: 800;
                            font-size: 18px;
                        }
                        .degree{
                            font-weight: 800;
                            font-size: 27px;
                            margin-top: 10px;
                        }
                        .institution{
                            font-weight: 800;
                            margin-top: 8px;
                        }
                        .description{
                            color: $theme_text_sub_color;
                            font-size: 15px;
                            font-weight: 600;
                            margin-top:14px;
                            margin-bottom: 25px;
                            line-height: 1.8;
                        }
                    }
                    &.expertise{
                        padding-top:20px;
                        border-bottom: none;
                        .skills-card{
                            margin-bottom: 20px;
                            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
                            border-radius: 5px;
                            .card-body{
                                .expertise-img-wrapper{
                                    text-align: center;
                                    img{
                                        max-width: 100%;
                                        border: 1px solid $theme_blue_sub_title_lightest;
                                        // max-height: 70px;
                                    }
                                }
                                .expertise-name{
                                    font-weight: 700;
                                    margin-top: 10px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}