
$primary_blue : #333e5f;


$theme_blue : rgb(66, 78, 122);
$pallete_blue_dark_1 : rgb(29, 31, 50);

$theme_close_focus_blue : rgb(0, 36, 90);
$theme_close_focus_blue_darker : #011430;

$theme_blue_icon : #073e91;
// $theme_blue_icon_lightest : #073e91;


$theme_blue_sub_title : #3e64ff;
$theme_blue_sub_title_lightest : rgb(214, 226, 255);

$theme_gold : rgb(113, 83, 66);
$theme_gold_light_1 : rgb(207, 176, 154);

$primary_gold_vibe: rgb(139, 105, 86);
$primary_gold_vibe_lightest: #8b69560d;


// Text Colors 

$theme_text_sub_color : rgba(128, 128, 128, 0.61);